body {
  font-family: proxima-nova, sans-serif; }

.regular {
  font-weight: 400;
  font-style: normal; }

.semibold {
  font-weight: 600;
  font-style: normal; }

.bold {
  font-weight: 700;
  font-style: normal; }

header nav {
  width: auto; }

header nav a {
  font-weight: 600;
  font-style: normal;
  padding: 30px 33px;
  display: inline-block; }

section.cover {
  background-image: url("/images/cover-background.png");
  background-size: cover;
  background-position: center;
  height: 320px;
  padding-top: 80px; }
  section.cover h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
    letter-spacing: -0.29px;
    line-height: 53px; }

section.search {
  border-bottom: 1px solid #DDDDDD;
  padding: 26px 0; }
  section.search input[type="text"], section.search select {
    background-color: #F7F8FA;
    display: block;
    padding: 13px;
    width: 100%; }
  section.search label {
    color: #9A9A9A;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.1px;
    line-height: 19px;
    display: inline;
    margin-right: 30px; }
  section.search button {
    padding: 8px 40px;
    color: #212121;
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 28px;
    border: 1px solid #979797;
    border-radius: 4px;
    background-color: #F7F8FA; }

section.publications {
  padding: 30px 0; }
  section.publications .publication {
    position: relative;
    padding: 30px;
    margin: 36px 0;
    background-color: white;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 18px 0 rgba(93, 107, 137, 0.1);
    box-shadow: 0 0 18px 0 rgba(93, 107, 137, 0.1); }
  section.publications .title {
    display: block;
    color: #212121;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.16px;
    line-height: 32px;
    margin: 16px 0; }
    section.publications .title:after {
      content: "";
      border-radius: 18px;
      position: absolute;
      right: 30px;
      bottom: 30px;
      height: 36px;
      width: 36px;
      background-color: #19C3C5; }
  section.publications p {
    color: #212121;
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 28px; }
  section.publications label {
    color: #9A9A9A;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 17px;
    text-transform: uppercase; }
  section.publications .doi {
    margin-top: 16px; }
  section.publications .right > div {
    margin-bottom: 16px; }
  section.publications ul.tags li {
    margin-top: 3px;
    float: left;
    margin-right: 10px;
    padding: 1px 20px;
    border: 2px solid #C5C5C5;
    border-radius: 4px;
    font-size: 12px;
    color: #777;
    font-weight: 600; }

footer {
  padding: 75px 0; }
  footer .logo {
    margin-bottom: 32px; }
  footer > div {
    padding-top: 72px;
    border-top: 1px solid #DDDDDD; }
  footer label {
    color: #212121;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.29px;
    line-height: 18px;
    text-transform: uppercase; }
  footer a {
    color: #595959;
    font-size: 14px;
    letter-spacing: 0.29px;
    line-height: 18px; }
